//DARK MODE
$DarkModeBackground: #121212;
$DarkModeDivider: #444444;
$DarkModeText: #ffffff;
$DarkModeAccent: #6c63ff;
$DarkModeSecondAccent: #ffa726;
$DarkModeError: #cf6676;
$DarkModeSucces: #66bb6a;
$DarkModeDisabled: #777777;
$DarkModePlaceholder: #aaaaaa;

//LIGHTMODE
$LightModeBackground: #ffffff;
$LightModeText: #121212;
$LightModeAccent: #6c63ff;
$LightModeSecondAccent: #ffa726;
$LightModeDivider: #e0e0e0;
$LightModeError: #b00020;
$LightModeSucces: #388e3c;
$LightModeDisabled: #cccccc;
$LightModePlaceholder: #bbbbbb;

//DEFAULT
$background: #121212;
$divider: #444444;
$text: #ffffff;
$accent: #6c63ff;
$secondAccent: #ffa726;
$error: #cf6676;
$succes: #66bb6a;
$disabled: #777777;
$placeholder: #aaaaaa;
