.bubble {
    position: relative;
    display: inline-flex; /* Use inline-flex to center the content vertically and horizontally */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6c63ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
    flex-direction: column;
}

.score {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
