@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import "./variables";
@import "./mixins";

.header {
  background-color: $accent;
  .title {
    font-family: "Borel", cursive;
    color: $text;
  }
}
