@import "./variables";

.info {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 1rem;
  border-bottom: 1px solid $divider;
}



.info_volume {
  color: $placeholder;
}

.info_cal {
  color: $placeholder;
}
