
$DarkModeBackGround: #121212;
$DarkModeDivider: #444444;
$DarkModetext: #FFFFFF;
$DarkModeAccent: #6C63FF;
$DarkModeSecondAccent: #FFA726;
$DarkModeError: #CF6676;
$DarkModeSucces: #66BB6A;
$DarkModeDisabled: #777777;
$DarkModePlaceholder: #AAAAAA;

$LightModeBackGround: #FFFFFF;
$LightModeText: #121212;
$LightModeAccent: #6C63FF;
$LightModeSecondAccent: #FFA726;
$LightModeDivider: #E0E0E0;
$LightModeError: #B00020;
$LightModeSucces: #388E3C;
$LightModeDisabled: #CCCCCC;
$LightModePlaceholder: #BBBBBB