@import "./../../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.welcomeContainer {
  place-items: center;
  display: flex;
  flex-direction: column;
}

.welcome {
  z-index: 1;
  //padding-top: 20rem;
  position: absolute;
  bottom: 20%;
  .message {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: 1rem;
      background-color: $accent;
      width: 100%;
    }
  }

  .guest {
    text-decoration: underline;
  }

  .link {
    width: 100%;
  }
}
