@import "./../../styles/variables";

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.registerPage {
  text-align: left;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;

  .title {
    color: $accent;
    font-size: 1.5625rem;
    margin-bottom: 1rem;
  }

  .desc {
    margin-top: 0;
    margin-bottom: 2rem;
    color: $placeholder;
  }

  .login {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: $text;
  }

  .loginLink {
    color: $accent;
    text-decoration: none;
  }

  .loginLink:visited {
    color: $accent;
  }
}

.form {
  width: 100%;
}

.registerFormField {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .label {
    color: $placeholder;
  }

  .field {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    padding: 0.5rem
  }

  .field:focus {
    outline: none;
    border-bottom: 2px solid $accent;
    caret-color: $accent;
  }

}

  .submit {
    background-color: $accent;
    width: 100%;
    margin-top: 1rem;
  }